.App {
     width: 100vw;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}

.RegisterFormContainer {
  width: 500px;
  height: 550px;
  padding: 80px;
  background-color: #2a2e45;
  box-shadow: 0px 0px 20px 0px #32322c;
}

