input:focus, button:focus {
  outline: none;
}

.App {
     width: 100vw;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}

.RegisterFormContainer {
  width: 500px;
  height: 550px;
  padding: 80px;
  background-color: #2a2e45;
  box-shadow: 0px 0px 20px 0px #32322c;
}

.RegisterContainerHeadline {
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.RegisterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TextInput {
  height: 50px;
  padding-left: 10px;
  margin-bottom: 30px;
  align-self: stretch;

  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: transparent;

  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 255, 255, 0.7);
}

.TextInput::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Open Sans', sans-serif;
}

.TouCheckboxLabel {
  margin-left: 20px;
  vertical-align: bottom;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 600;
}

.TouCheckbox {
  width: 18px;
  height: 18px;
  vertical-align: top;
  margin-right: 10px;
  margin-left: -20px;
  background-color: #59a96a;
}

.RegisterForm button {
  height: 60px;
  width: 100%;
  padding: 15px 32px;
  margin-top: 40px;
  display: inline-block;

  text-align: center;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 22px;

  border: none;
  border-radius: 40px;
  color: white;
  background-color: #db5461;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.RegisterForm button:active {
  transform: scale(0.9);
  transition-duration: 100ms;
}

.Disabled {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: rgba(255,255,255,0.7) !important;
}

.Disabled:active {
  transform: none !important;
}



